# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# sass noise
.sass-cache/*
*.scssc

# svn & cvs
.svn
CVS

# Mixture.app specific stuff
# client-builds/*
converted-html/*

# Sublime stuff
*.sublime-workspace