<!doctype html>

{% include "hub/head/conditional" %}

<head>
<title>{% block title %}This is the default template{% endblock %}</title>
{% include "hub/head/meta" %}
{% include "hub/head/css" %}
{% include "hub/head/scripts" %}
</head>

<body{% block bodyclass %}{% endblock %}>

  {% include "hub/global-header" %}

  <section id="Content">

    <div class="lc">

    {% block aside %}{% endblock %}

    {% block main %}{% endblock %}

    </div>
    <!--/.lc-->

  </section>
  <!--/#Content-->

  {% include "hub/global-footer" %}
  {% include "hub/foot/scripts" %}
</body>

</html>