<!doctype html>

{% include "head/conditional" %}

<head>
<title>{% block title %}This is the default template{% endblock %}</title>
{% include "head/meta" %}
{% include "head/css" %}
{% include "head/scripts" %}
	
<!-- Application-specific meta tags -->
{% include "head/windows" %}
{% include "head/twitter" %}
{% include "head/facebook" %}
{% include "head/icons" %}
</head>

<body{% block bodyclass %}{% endblock %}>
  {% include "global-header" %}
  <section id="Content">
      {% block content %}{% endblock %}
  </section>
  {% include "global-footer" %}
</body>

</html>