/* =======================================================
    Layouts
   ======================================================= */

// Layout container

.lc {
  position: relative;
  clear: both;
	max-width: $grid-max;	
	margin: 0 auto;
	padding: 0 $grid-padding;
		
	@include breakpoint($bp-med) {
	  padding: {
  	  left: $grid-padding-med;
  	  right: $grid-padding-med;
	  }
	}

	@include breakpoint($bp-large) {
	  padding: {
  	  left: $grid-padding-large;
  	  right: $grid-padding-large;
	  }
	}
}

// Main containers

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  position: relative;
  width: 100%;
}


/*  Templates
   ======================================================= */

// Two Column Layout
// Standard two column layout with main and sidebar column
.l-2col {
	@include clearfix;

	.l-main {
	}
	
	.l-sidebar {
	}
	
}