<header id="top" class="site-header" role="banner">
  <h1 class="logo"><a href="/" rel="home" title="Home">Logo Here</a></h1>
  <a class="nav-btn" id="nav-open-btn" href="#nav">Navigation</a>
</header>