<nav class="menu" role="navigation">
  <div id="menu-toggle">
      <a href="#menu" id="menu-link">Menu</a>
  </div>
  <ul class="main-nav">
    <li id="nav-home"><a href="/">Home</a></li>
  </ul>
</nav>