<nav id="nav" role="navigation">
  <ul class="main-nav">
    <li id="nav-one"><a href="#">Item 1</a></li>
    <li id="nav-two"><a href="#">Item 2</a></li>
    <li id="nav-three"><a href="#">Item 3</a></li>
    <li id="nav-four"><a href="#">Item 4</a></li>
    <li id="nav-five"><a href="#">Item 5</a></li>
  </ul>
  <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
</nav>
