/* =======================================================
    Lists
   ======================================================= */

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*  Definition lists
   ======================================================= */

dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: $font-weight-headline;
}

dd {
	margin-left: 0;
}