/* =======================================================
    Main content area
   ======================================================= */

[role=main] {
	padding-top: $pad;
	padding-bottom: $pad;
	overflow: hidden;
	@extend .lc;
	@extend .cf;
}