/* =======================================================
    Main content area
   ======================================================= */

[role=main] {
	padding-top: $pad-half;
	padding-bottom: $pad-double;
	overflow: hidden;
	@extend .lc;
	@extend .cf;
}