/* =======================================================
    Text areas
   ======================================================= */

// Intro

.intro {
	font-size: $font-size-slightly-larger;
	font-weight: $font-weight-headline;
}

// Pullquote

.pullquote {
	font-family: $font-body;
	font-size: $font-size-large;
}

//Text Passages

.text {
	a {
		text-decoration: underline;
	}

  .ul {
  	list-style: disc;
  	margin: 0 0 $space 1.2em;
  
  	ul {
  		margin-bottom: 0;
  	}
  }

  .ol {
    list-style: decimal;
  	margin: 0 0 $space 1em;
  	
  	ol {
    	margin-bottom: 0;
      li {
        list-style-type: upper-alpha; // A. , B. , C.
        li {
          list-style-type: lower-roman; // i. , ii. , iii.
          li {
            list-style-type: lower-alpha; // a. , b. , c.
          }
        }
      }
  	}
  }
}