<!--
<header class="masthead">

  <h1 class="logo">
      <a href="/" rel="home" title="Home">Pure Relevance Project Hub</a>
  </h1>

  {% include "hub/navigation" %}

</header>
-->
<header class="lc">
  <h1 id="Top">Client Name Project Hub</h1>
</header>