<nav class="menu" role="navigation">

  <div id="menu-toggle">
      <a href="#menu" id="menu-link">Menu</a>
  </div>
  
  <ul class="main-nav">
    <li><a href="/">Project Hub Home</a></li>
  </ul>

</nav>