/* =======================================================
    Colors
   ======================================================= */
/*  Status
   ======================================================= */
/*  Brand
   ======================================================= */
/*  Links
   ======================================================= */
/*  Overlays
   ======================================================= */
/* =======================================================
    Typography
   ======================================================= */
/* =======================================================
    Sizes
   ======================================================= */
/* =======================================================
    Borders
   ======================================================= */
/* =======================================================
    Breakpoints
   ======================================================= */
/* =======================================================
    Grid
   ======================================================= */
/* =======================================================
    Mixins
   ======================================================= */
/* =======================================================
    Custom mixins
   ======================================================= */
/* =======================================================
    Reset
   ======================================================= */
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, figcaption {
  margin: 0;
  padding: 0;
}

header, footer, nav, section, article, hgroup, figure, figcaption {
  display: block;
}

/* =======================================================
    Global classes
   ======================================================= */
.cf, .l-two-col, [role=main] {
  *zoom: 1;
}

.cf:before, .l-two-col:before, [role=main]:before, .cf:after, .l-two-col:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after, .l-two-col:after, [role=main]:after {
  clear: both;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.right {
  float: right;
  padding: 0 0 1.5rem 1.5rem;
}

.right-search {
  float: right;
  padding: 0 0 1.5rem 0;
}

.left {
  float: left;
  padding: 0 1.5rem 1.5rem 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

@media all and (max-width: 748px) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 748px) and (max-width: 960px) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 960px) {
  .hide-large {
    display: none;
  }
}

.valid {
  color: #089e00;
}

.error {
  color: red;
}

/* =======================================================
    Default font sizes
   ======================================================= */
html {
  font-size: 16px;
}
@media (min-width: 46.75em) {
  html {
    font-size: 18px;
  }
}

body {
  background: white;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #333333;
}

/* =======================================================
    Links
   ======================================================= */
a {
  color: blue;
  text-decoration: underline;
  outline: 0;
}
a:hover {
  color: #3333ff;
}
a:focus {
  color: #3333ff;
}

/* =======================================================
    Headings
   ======================================================= */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  color: black;
}

h1, .alpha {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
}

h2, .beta {
  font-size: 1.5em;
  line-height: 1;
}

h3, .gamma {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

h4, .delta {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.333;
}

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h6, .zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.giga {
  font-size: 80px;
  font-size: 5rem;
  line-height: 1.2;
}

.mega {
  font-size: 64px;
  font-size: 4rem;
  line-height: 1.125;
}

.kilo {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
}

.milli {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}

/* =======================================================
    Text elements
   ======================================================= */
p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

blockquote {
  font-style: italic;
  border-left: 1px solid gray;
  color: #666666;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

hr {
  clear: both;
  display: block;
  margin: 3rem 0;
  padding: 0;
  height: 2px;
  border: 0;
  border-top: 1px solid gray;
}

code {
  font: 12px/1 'Courier New', Courier, monospace;
}

abbr {
  border-bottom: 1px dotted gray;
  cursor: help;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

sub, sup {
  line-height: 0;
}

/* =======================================================
    Lists
   ======================================================= */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*  Definition lists
   ======================================================= */
dl {
  overflow: hidden;
  margin: 0 0 1.5rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

/* =======================================================
    Media elements
   ======================================================= */
img, video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  margin-bottom: 1.5rem;
}

figure {
  margin-bottom: 1.5rem;
}
figure img {
  margin-bottom: 0.375rem;
}

figcaption {
  font-style: italic;
}

/* =======================================================
    Forms
   ======================================================= */
form > div {
  margin-bottom: 1.5rem;
}

form ol, form ul {
  list-style: none;
  margin-left: 0;
}

form li {
  margin-bottom: 0.375rem;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 0.375rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

input, textarea {
  width: 100%;
  border: 1px solid gray;
  padding: 0.75rem 0.65rem;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
}

button, input[type="submit"] {
  padding: 0.75rem;
  background: #333333;
  border: 1px solid gray;
  cursor: pointer;
  text-transform: uppercase;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.field-container {
  margin-bottom: 1.5rem;
}

.inline-form fieldset, .inline-form .inline-container {
  position: relative;
}
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: #333333;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
  background: gray;
  color: white;
}

.inline-search-results-form {
  width: 100%;
}
@media all and (min-width: 748px) {
  .inline-search-results-form {
    width: 82%;
  }
}
.inline-search-results-form fieldset, .inline-search-results-form .inline-container {
  position: relative;
}
.inline-search-results-form input[type=submit], .inline-search-results-form button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}

/* Validation */
.has-error {
  border-color: red;
}

.is-valid {
  border-color: #089e00;
}

/*  Specific forms
   ======================================================= */
.search-field {
  padding-right: 3em;
}

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #dddddd;
  color: gray;
}

/* =======================================================
    Tables
   ======================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%;
}

th {
  background: #f9f9f9;
  border: 1px solid gray;
  padding: 0.2em;
  font-weight: 700;
  text-align: left;
}

td {
  border: 1px solid gray;
  padding: 0.2em;
}

.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.animate-fade:hover {
  opacity: 0;
}

.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* =======================================================
    Grid
   ======================================================= */
.g {
  overflow: hidden;
  clear: both;
  *zoom: 1;
}
.g:before, .g:after {
  display: table;
  content: "";
}
.g:after {
  clear: both;
}

.gi {
  float: left;
  margin-bottom: 0.75rem;
}

.gi-bordered {
  border-top: 1px dotted gray;
  padding-top: 0.75rem;
}

/*  Quick grids
   ======================================================= */
.g-1up .gi {
  float: none;
  width: 100%;
}

.g-2up .gi {
  width: 100%;
}
@media (min-width: 46.75em) {
  .g-2up .gi {
    width: 49.0566%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
  }
  .g-2up .gi:nth-child(2n) {
    width: 49.0566%;
    clear: right;
    float: right;
    margin-right: 0;
  }
  .g-2up .gi:nth-child(2n+1) {
    width: 49.0566%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
    clear: both;
  }
}

.g-3up .gi {
  width: 100%;
}
@media (min-width: 46.75em) {
  .g-3up .gi {
    width: 32.07547%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
  }
  .g-3up .gi:nth-child(3n) {
    width: 32.07547%;
    clear: right;
    float: right;
    margin-right: 0;
  }
  .g-3up .gi:nth-child(3n+1) {
    width: 32.07547%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
    clear: both;
  }
}

.g-1-2 .gi {
  width: 100%;
}
@media (min-width: 46.75em) {
  .g-1-2 .gi {
    width: 32.07547%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
  }
  .g-1-2 .gi:nth-child(2n) {
    width: 66.03774%;
    clear: right;
    float: right;
    margin-right: 0;
  }
  .g-1-2 .gi:nth-child(2n+1) {
    width: 32.07547%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
    clear: both;
  }
}

.g-2-1 .gi {
  width: 100%;
}
@media (min-width: 46.75em) {
  .g-2-1 .gi {
    width: 66.03774%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
  }
  .g-2-1 .gi:nth-child(2n) {
    width: 32.07547%;
    clear: right;
    float: right;
    margin-right: 0;
  }
  .g-2-1 .gi:nth-child(2n+1) {
    width: 66.03774%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
    clear: both;
  }
}

.g-1-5 .gi {
  width: 100%;
}
@media (min-width: 46.75em) {
  .g-1-5 .gi {
    width: 15.09434%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
  }
  .g-1-5 .gi:nth-child(2n) {
    width: 83.01887%;
    clear: right;
    float: right;
    margin-right: 0;
  }
  .g-1-5 .gi:nth-child(2n+1) {
    width: 15.09434%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
    clear: both;
  }
}

/* =======================================================
    Layouts
   ======================================================= */
.lc, .site-header, [role=main] {
  position: relative;
  clear: both;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 46.75em) {
  .lc, .site-header, [role=main] {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 60em) {
  .lc, .site-header, [role=main] {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*  Templates
   ======================================================= */
/* Two Column Layout */
/* =======================================================
    Accordion
   ======================================================= */
.accordion {
  margin-bottom: 1.5rem;
}

.acc-handle {
  background: #333333;
  color: white;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  display: block;
  position: relative;
  padding: 0.75rem;
  border-bottom: 1px solid #666666;
}
.acc-handle:after {
  content: "+";
  float: right;
}
.acc-handle:hover {
  color: white;
  background: #262626;
}
.acc-handle.active {
  background: #404040;
}
.acc-handle.active:after {
  content: "-";
}

/* =======================================================
    Ads
   ======================================================= */
/* =======================================================
    Article
   ======================================================= */
.byline {
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 0.75rem;
}

/* =======================================================
    Blocks
   ======================================================= */
[class*='block'] {
  overflow: hidden;
  *zoom: 1;
}
[class*='block']:before, [class*='block']:after {
  display: table;
  content: "";
}
[class*='block']:after {
  clear: both;
}
[class*='block'] p:last-child {
  margin-bottom: 0;
}

.b-thumb img {
  display: block;
}

.b-text .headline {
  margin-bottom: 0.375rem;
}

/*  Block types
   ======================================================= */
.block-switch .b-thumb {
  width: 22.85714%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.85714%;
}
.block-switch .b-text {
  width: 74.28571%;
  clear: right;
  float: right;
  margin-right: 0;
}
@media (min-width: 46.75em) {
  .block-switch .b-thumb {
    float: none;
    margin: 0;
    width: 100%;
  }
  .block-switch .b-thumb img {
    margin-bottom: 0.375rem;
  }
  .block-switch .b-text {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.block-inset {
  position: relative;
}
.block-inset .b-thumb {
  position: relative;
  z-index: 0;
}
.block-inset .b-thumb img {
  margin-bottom: 0.75rem;
}

.block-thumb .b-thumb {
  width: 22.85714%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.85714%;
}
.block-thumb .b-text {
  width: 74.28571%;
  clear: right;
  float: right;
  margin-right: 0;
}
@media (min-width: 46.75em) {
  .block-thumb .b-thumb {
    width: 15.09434%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
  }
  .block-thumb .b-text {
    width: 83.01887%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}

/*
.block-hero {
	margin-bottom: $space;
  
  @include breakpoint($bp-large) {
		position: relative;
    
		.b-text {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $overlay-dark;
			color: $white;
			padding: $pad-and-half;
		}
	}
}
*/
/* =======================================================
    Buttons
   ======================================================= */
.btn {
  display: inline-block;
  background: #cccccc;
  color: #333333;
  line-height: 1;
  font-weight: 700;
  padding: 1.5rem;
  border: 1px solid #333333;
  text-align: center;
  text-decoration: none;
}
.btn:hover, .btn:active, .btn:focus {
  background-color: white;
}
.btn.disabled {
  background: #eeeeee;
  color: #cccccc;
}

/*  State buttons
   ======================================================= */
.btn-disabled {
  border-color: #cccccc;
  background-color: #f9f9f9;
  color: #cccccc;
  cursor: default;
}
.btn-disabled:hover {
  background-color: #f9f9f9;
  color: #cccccc;
}

/*  Sized buttons
   ======================================================= */
.btn-full {
  display: block;
}

.btn-small {
  padding: 0.75rem;
}

.btn-tiny {
  padding: 0.75rem;
  font-size: 0.75em;
}

.btn-large {
  padding: 0.75rem;
  font-size: 1.5em;
}

.text-btn {
  display: inline-block;
  padding: 0.75rem;
  background-color: #f9f9f9;
  font-weight: 700;
}

/*  Button group
   ======================================================= */
.btn-group {
  display: table;
  width: 100%;
}
.btn-group .btn-group-inner {
  display: table-row;
}
.btn-group .btn-group-inner > div {
  display: table-cell;
}
.btn-group .btn-group-inner > div .btn {
  border-right-width: 0;
}
.btn-group .btn-group-inner > div:last-child .btn {
  border-right-width: 1px;
}

/* =======================================================
    Carousels
   ======================================================= */
.carousel-horizontal {
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
}

.carousel-island-container {
  overflow: hidden;
}

.carousel-container {
  position: relative;
}

.carousel-controls {
  display: table;
  width: 100%;
  margin: -0.75rem 0 1.5rem;
}
.carousel-controls a, .carousel-controls div {
  display: table-cell;
  padding: 0.75rem;
}
.carousel-controls .carousel-pagination {
  text-align: center;
}
.carousel-controls .carousel-next {
  text-align: right;
}

/* =======================================================
    Comments
   ======================================================= */
.comments li {
  margin-bottom: 1.5rem;
}

.comment-container {
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.comment-meta {
  float: left;
  width: 6.5em;
}
.comment-meta img {
  display: block;
  border: 1px solid #eeeeee;
  margin-bottom: 0.75rem;
}

.comment-name {
  font-size: 0.75em;
}

.comment-text {
  margin-left: 9em;
}

/* =======================================================
    Site footer
   ======================================================= */
.site-footer {
  clear: both;
  overflow: hidden;
  background: #333333;
  color: white;
}
.site-footer a {
  color: #f9f9f9;
}

.nav-footer li {
  border-bottom: 1px solid #333333;
}
@media (min-width: 46.75em) {
  .nav-footer li {
    border: 0;
    float: left;
  }
}
.nav-footer a {
  display: block;
  padding: 1.5rem;
}

.copyright {
  font-size: 0.75em;
}

/* =======================================================
    Site header
   ======================================================= */
.site-header {
  background: white;
  padding: 0;
  border-bottom: 1px solid gray;
}

/*  Logo
   ======================================================= */
.logo {
  float: left;
  max-width: 8rem;
  margin: 0.4rem;
}

/*  Menu
   ======================================================= */
.menu {
  margin-top: 0.75rem;
  max-height: 0;
  overflow: hidden;
}
.menu.is-active {
  max-height: none;
}
@media (min-width: 46.75em) {
  .menu {
    margin-top: 1.5rem;
    max-height: none;
    display: table;
    width: 100%;
  }
}

#menu-toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  /*
  .icon {
    line-height: 1;
  }
  */
}
#menu-toggle a {
  display: block;
}
@media (min-width: 46.75em) {
  #menu-toggle {
    display: none;
  }
}

/*  Main navigation
   ======================================================= */
.main-nav li {
  border-top: gray solid 1px;
}
.main-nav li:first-child {
  border-top-width: 0;
}
.main-nav a {
  display: block;
  padding: 0.75rem;
}
.main-nav a:hover {
  background-color: blue;
  color: white;
}
@media (min-width: 46.75em) {
  .main-nav {
    position: relative;
    display: table-row;
  }
  .main-nav li {
    border-top-width: 0;
    display: table-cell;
    border-left: 1px solid gray;
  }
  .main-nav li:first-child {
    border-left-width: 0;
  }
  .main-nav a {
    text-align: center;
  }
}

/*
.bodyclass #nav-id a,
.bodyclass #nav-id a,
.bodyclass #nav-id a {
  background-color: $blue;
  color: $white;
}
*/
/*  Search form
   ======================================================= */
.search-form {
  overflow: hidden;
  max-height: 0;
}
@media all and (min-width: 748px) {
  .search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/* =======================================================
    Icons
   ======================================================= */
@font-face {
  font-family: 'icons';
  src: url("../fonts/font-name-here.eot");
  src: url("../fonts/font-name-here.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name-here.woff") format("woff"), url("../fonts/font-name-here.ttf") format("truetype"), url("../fonts/font-name-here.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons', arial;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
}
.icon:before {
  content: attr(data-icon);
}

/**
 * Usage: here's the html to put elsewhere
 * <span class="icon" aria-hidden="true" data-icon="insert-letter-or-unicode-here"></span>
 */
/*
.icon.circled {
    display: inline-block;
    border-radius: 2.25em;
    line-height: 1.125em;
    width: 1.125em;
    height: 1.125em;
    padding-left: .05em; // Cheat it right a few pixels to improve the centered alignmentsa
    text-align: center;
    background-color: $green;
    color: $white;
    -webkit-font-smoothing: antialiased;
}
*/
/* =======================================================
    Lists
   ======================================================= */
.inline-list li {
  display: inline-block;
}

.social-list li {
  margin: 0 0.4rem 1.5rem 0;
}
.social-list a {
  font-size: 1.6em;
}

.headline-list {
  margin-bottom: 1.5rem;
}
.headline-list.flush {
  margin: 0;
}
.headline-list h4 {
  font-weight: normal;
}
.headline-list li {
  padding: 0.375rem 0;
  border-top: 1px solid #dddddd;
}

.post-list li {
  margin-bottom: 1.5rem;
}

.bullet-list {
  list-style: disc;
  margin: 0 0 1.5rem 1.2em;
  line-height: 1.5;
}
.bullet-list li {
  margin-bottom: 1.5rem;
}

.numbered-list {
  margin: 0 0 1.5rem 1em;
  line-height: 1.5;
}
.numbered-list li {
  list-style-type: decimal;
  margin-bottom: 1.5rem;
}
.numbered-list li li {
  list-style-type: upper-alpha;
}
.numbered-list li li li {
  list-style-type: lower-roman;
}
.numbered-list li li li li {
  list-style-type: lower-alpha;
}

.text-list {
  margin: 0 0 1.5rem;
  line-height: 1.5;
}
.text-list li {
  margin-bottom: 1.5rem;
}

/* =======================================================
    Main content area
   ======================================================= */
[role=main] {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}

/* =======================================================
    Navigation
   ======================================================= */
.nav {
  clear: both;
  overflow: hidden;
  max-height: 0;
}
.nav a {
  display: block;
  padding: 1.5rem;
  border-top: 1px solid #eeeeee;
}
.nav.is-active {
  max-height: 40em;
}
@media all and (min-width: 748px) {
  .nav {
    max-height: none;
    float: right;
    clear: none;
  }
  .nav li {
    float: left;
  }
  .nav a {
    border: 0;
  }
}

/*  Pagination
   ======================================================= */
.pagination {
  overflow: hidden;
}
.pagination li {
  float: left;
  border-right: 1px solid #eeeeee;
}
.pagination li:last-child {
  border: 0;
}
.pagination a {
  padding: 1.5rem;
}

/* =======================================================
    Sections
   ======================================================= */
.section {
  margin: 0 0 1.5rem;
}

.section-title {
  margin-bottom: 0.75rem;
}

/* =======================================================
    Social share
   ======================================================= */
.social-share {
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.social-share li {
  float: left;
  margin-right: 0.375rem;
}
.social-share a {
  background: #333333;
  color: white;
  display: block;
  padding: 0.75rem;
}
.social-share a:hover {
  background: gray;
}

/* =======================================================
    Tabs
   ======================================================= */
.tabs {
  overflow: hidden;
}
.tabs ul {
  display: table;
  width: 100%;
}
.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.tabs li:last-child {
  border-right: 0;
}
.tabs a {
  display: block;
  padding: 0.75rem;
  background: gray;
}
.tabs a:hover, .tabs a:focus {
  background: #dddddd;
}
.tabs a.active {
  background: #333333;
  color: white;
}

/* =======================================================
    Text areas
   ======================================================= */
.intro {
  font-size: 1.0625em;
  font-weight: 700;
}

.pullquote {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
}

.text p {
  max-width: 46em;
}
.text a {
  text-decoration: underline;
}
.text ul {
  list-style: disc;
  margin: 0 0 1.5rem 1.2em;
}
.text ul ul {
  margin-bottom: 0;
}
.text ol {
  list-style: decimal;
  margin: 0 0 1.5rem 1em;
}
.text ol ol {
  margin-bottom: 0;
}
.text ol ol li {
  list-style-type: upper-alpha;
}
.text ol ol li li {
  list-style-type: lower-roman;
}
.text ol ol li li li {
  list-style-type: lower-alpha;
}
.text table {
  margin-bottom: 1.5rem;
}

/* =======================================================
    Tooltip
   ======================================================= */
.tooltip-container {
  display: inline-block;
  position: relative;
}
.tooltip-container:hover .tooltip {
  display: block;
}

.tooltip-link {
  background: #f9f9f9;
}

.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1.5rem;
  background: white;
  border: 1px solid gray;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2);
}
.tooltip h2 {
  margin-top: 0;
}

/* =======================================================
    Wireframe objects
   ======================================================= */
[class*='wire'] {
  background-color: #eeeeee;
  color: black;
  padding: 3rem 1.5rem;
  text-align: center;
}

.wire-thin {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.wire-small {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.wire-medium {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.wire-large {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.wire-huge {
  padding-top: 18rem;
  padding-bottom: 18rem;
}
