/* =======================================================
    Colors
   ======================================================= */
/*  General type
   ======================================================= */
/*  Status
   ======================================================= */
/*  Brand
   ======================================================= */
/*  Links
   ======================================================= */
/*  Overlays
   ======================================================= */
/* =======================================================
    Typography
   ======================================================= */
/* =======================================================
    Sizes
   ======================================================= */
/* =======================================================
    Standard Borders
   ======================================================= */
/* =======================================================
    Forms
   ======================================================= */
/* =======================================================
    Buttons
   ======================================================= */
/* =======================================================
    Breakpoints
   ======================================================= */
/* =======================================================
    Grid
   ======================================================= */
/* =======================================================
    Mixins
   ======================================================= */
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* =======================================================
    Normalize
   ======================================================= */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =======================================================
    Global classes
   ======================================================= */
.cf {
  *zoom: 1;
}

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.right {
  float: right;
  padding: 0 0 1.5rem 1.5rem;
}

.right-search {
  float: right;
  padding: 0 0 1.5rem 0;
}

.left {
  float: left;
  padding: 0 1.5rem 1.5rem 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

@media all and (max-width: 748px) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 748px) and (max-width: 960px) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 960px) {
  .hide-large {
    display: none;
  }
}

.has-success {
  color: #5ddd00;
}

.has-error {
  color: red;
}

/* =======================================================
    Default font sizes
   ======================================================= */
html {
  font-size: 16px;
}
@media (min-width: 46.75em) {
  html {
    font-size: 18px;
  }
}

/* =======================================================
    Body
   ======================================================= */
body {
  background: white;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #333333;
}

/* =======================================================
    Links
   ======================================================= */
a {
  color: #007aff;
  text-decoration: underline;
  outline: 0;
}
a:hover {
  color: #3395ff;
}
a:focus {
  color: #3395ff;
}

/* =======================================================
    Headings
   ======================================================= */
/* TODO: Review these to work better with normalize as a default */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  color: black;
}

h1, .alpha {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
}

h2, .beta {
  font-size: 1.5em;
  line-height: 1;
}

h3, .gamma {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

h4, .delta {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.333;
}

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h6, .zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.giga {
  font-size: 80px;
  font-size: 5rem;
  line-height: 1.2;
}

.mega {
  font-size: 64px;
  font-size: 4rem;
  line-height: 1.125;
}

.kilo {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
}

.milli {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}

hgroup {
  margin-bottom: 1.5rem;
}
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  margin-bottom: 0;
  line-height: 1.2;
}

/* =======================================================
    Text elements
   ======================================================= */
p {
  margin-bottom: 1.5rem;
  max-width: 38em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

blockquote {
  font-style: italic;
  border-left: 1px solid #cccccc;
  color: #666666;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

hr {
  clear: both;
  display: block;
  margin: 3rem 0;
  padding: 0;
  height: 2px;
  border: 0;
  border-top: 1px solid #cccccc;
}

code {
  font: 12px/1 'Courier New', Courier, monospace;
}

abbr {
  border-bottom: 1px dotted gray;
  cursor: help;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

sub, sup {
  line-height: 0;
}

/* =======================================================
    Lists
   ======================================================= */
ul {
  list-style: disc;
  margin: 0 0 1.5rem 1.2em;
}
ul ul {
  margin-bottom: 0;
}

ol {
  list-style: decimal;
  margin: 0 0 1.5rem 1em;
}
ol ol {
  margin-bottom: 0;
}
ol ol li {
  list-style-type: upper-alpha;
}
ol ol li li {
  list-style-type: lower-roman;
}
ol ol li li li {
  list-style-type: lower-alpha;
}

/*  Definition lists
   ======================================================= */
dl {
  overflow: hidden;
  margin: 0 0 1.5rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

/* =======================================================
    Media elements
   ======================================================= */
img, video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  margin-bottom: 1.5rem;
}

figure {
  margin-bottom: 1.5rem;
}
figure img {
  margin-bottom: 0.375rem;
}

figcaption {
  font-style: italic;
}

/* =======================================================
    Forms
   ======================================================= */
form {
  margin-bottom: 1.5rem;
}

/*  Normalize non-controls
   ======================================================= */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5em;
  line-height: inherit;
  color: black;
  border: 0;
  border-bottom: 1px solid #cccccc;
}

label {
  display: inline-block;
  margin-bottom: 0.375rem;
  font-weight: 700;
  color: black;
}

/*  Normalize form controls
   ======================================================= */
input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

output {
  display: block;
  padding-top: 0.375rem;
  font-size: 1em;
  line-height: 1.5;
  color: #333333;
}

/*  Common form controls
   ======================================================= */
.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0.375rem;
  font-size: 1em;
  line-height: 1.5;
  color: #333333;
  background-color: #f9f9f9;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
  /*  Disabled and read-only inputs
     ======================================================= */
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #f9f9f9;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

/*  Search inputs in iOS
   ======================================================= */
input[type="search"] {
  -webkit-appearance: none;
}

/*  Special styles for iOS date input
   ======================================================= */
input[type="date"] {
  line-height: 36px;
}

/*  Form groups
   ======================================================= */
.form-group {
  margin-bottom: 1.125rem;
}

/*  Checkboxes and radios
   ======================================================= */
.radio,
.checkbox {
  display: block;
  min-height: 36px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 1.5rem;
}
.radio label,
.checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -1.5rem;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -0.375rem;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 1.5rem;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 0.75rem;
}

input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"],
.radio[disabled], fieldset[disabled]
.radio,
.radio-inline[disabled], fieldset[disabled]
.radio-inline,
.checkbox[disabled], fieldset[disabled]
.checkbox,
.checkbox-inline[disabled], fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed;
}

/*  Form control sizing
   ======================================================= */
.input-small {
  height: auto;
  padding: 0.375rem;
  font-size: 0.75em;
  line-height: 1.2;
}

.input-large {
  height: auto;
  padding: 0.375rem;
  font-size: 1.5em;
  line-height: 1.5;
}

.input-sized {
  width: auto;
}

/*  Form control feedback states
   ======================================================= */
.has-feedback {
  position: relative;
  /*
  .form-control-feedback {
    position: absolute;
    top: (@line-height-computed + 5); // Height of the `label` and its margin
    right: 0;
    display: block;
    width: @input-height-base;
    height: @input-height-base;
    line-height: @input-height-base;
    text-align: center;
  }
  */
}
.has-feedback .form-control {
  padding-right: 45px;
}

.has-success {
  border-color: #5ddd00;
}

.has-error {
  border-color: red;
}

/*  Static form control text
   ======================================================= */
.form-control-static {
  margin-top: 0;
  margin-bottom: 0;
}

/*  Form help
   ======================================================= */
.help-block {
  clear: both;
  display: block;
  margin: 0;
  font-size: 0.75em;
  color: gray;
}

/*  Inline forms
   ======================================================= */
@media (min-width: 46.75em) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0.375rem;
    padding-right: 0.75rem;
    vertical-align: middle;
  }
  .form-inline .form-group:first-child {
    padding-left: 0;
  }
  .form-inline .form-group:last-child {
    padding-right: 0;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.select-group {
  *zoom: 1;
}
.select-group:before, .select-group:after {
  display: table;
  content: "";
}
.select-group:after {
  clear: both;
}
.select-group > .form-control {
  float: right;
  width: 65%;
}
.select-group > select.form-control {
  float: left;
  max-width: 33%;
}

/*  Horizontal forms
   ======================================================= */
/*
.form-horizontal {

  // Consistent vertical alignment of labels, radios, and checkboxes
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: (@padding-base-vertical + 1); // Default padding plus a border
  }
  // Account for padding we're adding to ensure the alignment and of help text
  // and other content below items
  .radio,
  .checkbox {
    min-height: (@line-height-computed + (@padding-base-vertical + 1));
  }

  // Make form groups behave like rows
  .form-group {
    .make-row();
  }

  .form-control-static {
    padding-top: (@padding-base-vertical + 1);
  }

  // Only right align form labels here when the columns stop stacking
  @media (min-width: @screen-sm-min) {
    .control-label {
      text-align: right;
    }
  }

  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .has-feedback .form-control-feedback {
    top: 0;
    right: (@grid-gutter-width / 2);
  }
}
*/
/* =======================================================
    Tables
   ======================================================= */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #cccccc;
  width: 100%;
}

th {
  background: #f9f9f9;
  border: 1px solid #cccccc;
  padding: 0.2em;
  font-weight: 700;
  text-align: left;
}

td {
  border: 1px solid #cccccc;
  padding: 0.2em;
}

.animate-fade {
  -webkit-transition: opacity 0.3s ease-out 0s;
  -moz-transition: opacity 0.3s ease-out 0s;
  -ms-transition: opacity 0.3s ease-out 0s;
  -o-transition: opacity 0.3s ease-out 0s;
  transition: opacity 0.3s ease-out 0s;
}
.animate-fade:hover {
  opacity: 0;
}

.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out 0s;
  -moz-transition: all 0.8s ease-in-out 0s;
  -ms-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
}

/* =======================================================
    Grid
   ======================================================= */
.g {
  overflow: hidden;
  clear: both;
  *zoom: 1;
  margin: 0;
  padding: 0;
}
.g:before, .g:after {
  display: table;
  content: "";
}
.g:after {
  clear: both;
}

.gi {
  width: 100%;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}

.gi-compact {
  margin-bottom: 0.75rem;
}

.gi-flush {
  margin-bottom: 0;
}

.gi-bordered {
  border-top: 1px solid #cccccc;
  padding-top: 0.75rem;
}

/*  Quick grids
   ======================================================= */
@media (min-width: 46.75em) {
  .g-2up .gi {
    float: left;
    width: 48%;
    margin-right: 3%;
  }
  .g-2up .gi:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .g-2up .gi:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 46.75em) {
  .g-3up .gi {
    float: left;
    width: 31%;
    margin-right: 3.5%;
  }
  .g-3up .gi:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
  .g-3up .gi:nth-child(3n+1) {
    clear: both;
  }
}

@media (min-width: 46.75em) {
  .g-4up .gi {
    float: left;
    width: 23%;
    margin-right: 2.5%;
  }
  .g-4up .gi:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
  .g-4up .gi:nth-child(4n+1) {
    clear: both;
  }
}

/* =======================================================
    Layouts
   ======================================================= */
.lc {
  position: relative;
  clear: both;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 46.75em) {
  .lc {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 60em) {
  .lc {
    padding-left: 40px;
    padding-right: 40px;
  }
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  position: relative;
  width: 100%;
}

/*  Templates
   ======================================================= */
.l-2col {
  *zoom: 1;
}
.l-2col:before, .l-2col:after {
  display: table;
  content: "";
}
.l-2col:after {
  clear: both;
}

/* =======================================================
    Alerts
   ======================================================= */
/* TODO: refactor the close button to work like the delete brick button */
.alert {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 0.75em 3.75rem 0.8em 0.75em;
  overflow: hidden;
}
.alert > p {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  line-height: 1.2;
}
.alert a {
  color: white;
}
.alert a:hover, .alert a:active {
  text-decoration: none;
}
.alert .close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
.alert .close:hover, .alert .close:active {
  background-color: transparent;
}
.alert .close .x {
  display: inline-block;
  vertical-align: baseline;
}

.alert-success {
  background-color: #5ddd00;
  color: white;
}

/* =======================================================
    Badge
   ======================================================= */
.badge {
  display: inline-block;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  background-color: green;
  color: white;
  font-size: 0.75em;
  font-weight: 700;
}

/* =======================================================
    Blocks
   ======================================================= */
/* TODO: Are these still good? */
[class*='block'] {
  overflow: hidden;
  *zoom: 1;
}
[class*='block']:before, [class*='block']:after {
  display: table;
  content: "";
}
[class*='block']:after {
  clear: both;
}
[class*='block'] p:last-child {
  margin-bottom: 0;
}

.b-thumb img {
  display: block;
}

.b-text .headline {
  margin-bottom: 0.375rem;
}

/*  Block types
   ======================================================= */
.block-switch .b-thumb {
  width: 22.85714%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.85714%;
}
.block-switch .b-text {
  width: 74.28571%;
  clear: right;
  float: right;
  margin-right: 0;
}
@media (min-width: 46.75em) {
  .block-switch .b-thumb {
    float: none;
    margin: 0;
    width: 100%;
  }
  .block-switch .b-thumb img {
    margin-bottom: 0.375rem;
  }
  .block-switch .b-text {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.block-inset {
  position: relative;
}
.block-inset .b-thumb {
  position: relative;
  z-index: 0;
}
.block-inset .b-thumb img {
  margin-bottom: 0.75rem;
}

.block-thumb .b-thumb {
  width: 22.85714%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.85714%;
}
.block-thumb .b-text {
  width: 74.28571%;
  clear: right;
  float: right;
  margin-right: 0;
}
@media (min-width: 46.75em) {
  .block-thumb .b-thumb {
    width: 15.09434%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 1.88679%;
  }
  .block-thumb .b-text {
    width: 83.01887%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}

/*
.block-hero {
	margin-bottom: $space;
  
  @include breakpoint($bp-large) {
		position: relative;
    
		.b-text {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $overlay-dark;
			color: $white;
			padding: $pad-and-half;
		}
	}
}
*/
/* =======================================================
    Bricks
   ======================================================= */
.brick-stack {
  margin-bottom: 2.25rem;
}
.brick-stack > h2 {
  margin-bottom: 0.75rem;
}
.brick-stack > div {
  position: relative;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 1.125rem 3rem 1.125rem 0.75rem;
  background-color: #f9f9f9;
}
.brick-stack > div + div {
  border-top-width: 0;
}
.brick-stack > div .form-control {
  background-color: white;
}

.add-brick {
  display: block;
  padding-top: 0.75rem;
}

.delete-brick {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #cccccc;
  height: 100%;
  width: 2.25rem;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  background-color: #efefef;
  color: gray;
}
.delete-brick .x {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  margin-top: -.875em;
  text-align: center;
}
.delete-brick:hover, .delete-brick:active {
  background-color: white;
  color: #ff3300;
}

/* =======================================================
    Buttons
   ======================================================= */
.btn {
  display: inline-block;
  border: 1px solid transparent;
  margin-bottom: 0;
  padding: 0.75rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: #666666;
  background-image: none;
  color: #cccccc;
}
.btn:hover, .btn:focus {
  background-color: gray;
  border-color: transparent;
  color: #cccccc;
  text-decoration: none;
}
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  box-shadow: none;
}

.btn-primary {
  background-color: #333333;
  border-color: transparent;
  color: #cccccc;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #4d4d4d;
  border-color: transparent;
  color: #cccccc;
}

.btn-success {
  background-color: lime;
  border-color: transparent;
  color: white;
}
.btn-success:hover, .btn-success:focus {
  background-color: #66ff66;
  border-color: transparent;
  color: white;
}

.btn-danger {
  background-color: red;
  border-color: transparent;
  color: white;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #ff6666;
  border-color: transparent;
  color: white;
}

/*  Link buttons
   ======================================================= */
.btn-link {
  border-radius: 0;
  font-weight: normal;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: #007aff;
}
.btn-link:active {
  background-color: transparent;
  box-shadow: none;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
  color: #3395ff;
  background-color: transparent;
}

/*  Sized buttons
   ======================================================= */
.btn-full {
  display: block;
}

.btn-small {
  padding: 0.375rem;
}

.btn-tiny {
  padding: 0.375rem;
  font-size: 0.75em;
}

.btn-large {
  padding: 0.75rem;
  font-size: 1.5em;
}

/*  Button group
   ======================================================= */
.btn-group {
  display: table;
  width: 100%;
}
.btn-group .btn-group-inner {
  display: table-row;
}
.btn-group .btn-group-inner .btn {
  display: table-cell;
  border-right-width: 0;
}
.btn-group .btn-group-inner .btn:last-child {
  border-right-width: 1px;
}

.btn-group-compact {
  width: auto;
}

/* TODO: Re-evaluate these button group styles from Bootstrap for use */
/* =======================================================
    Site footer
   ======================================================= */
.site-footer {
  margin-top: 6rem;
  padding: 1.5rem;
  background: #dddddd;
  color: #333333;
  font-size: 0.75em;
}
.site-footer a {
  color: #333333;
  text-decoration: none;
}
.site-footer a:hover, .site-footer a:active {
  text-decoration: underline;
}

/* =======================================================
    Site header
   ======================================================= */
.site-header {
  z-index: 100;
  position: relative;
  padding: 0.75rem 0;
  text-align: center;
  background: #333333;
  color: #fff;
}

/*  Logo
   ======================================================= */
.logo {
  display: inline-block;
  margin: 0 auto;
  color: white;
}
.logo > a {
  color: white;
}

/* =======================================================
    Project hub
   ======================================================= */
.hub .slat-list > li {
  padding-top: .25em;
  padding-bottom: .25em;
}
.hub .slat-list .new {
  position: relative;
}
.hub .slat-list .new:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: .75em;
  border-radius: .625em;
  margin-right: .375em;
  height: .625em;
  width: .625em;
  background-color: #007aff;
  color: #007aff;
}
.hub .date {
  display: block;
  font-size: 0.75em;
  color: gray;
}

/* =======================================================
    Icons
   ======================================================= */
@font-face {
  font-family: 'icons';
  src: url("../fonts/font-name-here.eot");
  src: url("../fonts/font-name-here.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name-here.woff") format("woff"), url("../fonts/font-name-here.ttf") format("truetype"), url("../fonts/font-name-here.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icons', arial;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
}
.icon:before {
  content: attr(data-icon);
}

/**
 * Usage: here's the html to put elsewhere
 * <span class="icon" aria-hidden="true" data-icon="insert-letter-or-unicode-here"></span>
 */
/*
.icon.circled {
    display: inline-block;
    border-radius: 2.25em;
    line-height: 1.125em;
    width: 1.125em;
    height: 1.125em;
    padding-left: .05em; // Cheat it right a few pixels to improve the centered alignmentsa
    text-align: center;
    background-color: $green;
    color: $white;
    -webkit-font-smoothing: antialiased;
}
*/
/* =======================================================
    Lists
   ======================================================= */
/* TODO: Review these make sure they don't suck and are redundant to nav */
/* TODO: Check out Cornerstone's lists for things like link lists with counts */
.inline-list {
  margin: 0;
  padding: 0;
}
.inline-list > li {
  display: inline-block;
  list-style: none;
}

.slat-list {
  border-bottom: 1px solid #cccccc;
  margin-left: 0;
  padding-left: 0;
}
.slat-list > li {
  list-style: none;
  border-top: 1px solid #cccccc;
}

/*
.social-list {
    li {
        margin: 0 0.4rem $space 0;
    }

    a {
        font-size: 1.6em;
    }
}
*/
.headline-list {
  margin-bottom: 1.5rem;
}
.headline-list.flush {
  margin: 0;
}
.headline-list h4 {
  font-weight: normal;
}
.headline-list li {
  padding: 0.375rem 0;
  border-top: 1px solid #dddddd;
}

.post-list li {
  margin-bottom: 1.5rem;
}

.bullet-list {
  list-style: disc;
  margin: 0 0 1.5rem 1.2em;
  line-height: 1.5;
}
.bullet-list li {
  margin-bottom: 1.5rem;
}

.numbered-list {
  margin: 0 0 1.5rem 1em;
  line-height: 1.5;
}
.numbered-list li {
  list-style-type: decimal;
  margin-bottom: 1.5rem;
}
.numbered-list li li {
  list-style-type: upper-alpha;
}
.numbered-list li li li {
  list-style-type: lower-roman;
}
.numbered-list li li li li {
  list-style-type: lower-alpha;
}

.text-list {
  margin: 0 0 1.5rem;
  line-height: 1.5;
}
.text-list li {
  margin-bottom: 1.5rem;
}

/* =======================================================
    Navigation
   ======================================================= */
#nav {
  z-index: 200;
  position: absolute;
  top: 0;
  padding-top: 4.5em;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
#nav:not(:target) {
  z-index: 1;
  height: 0;
}
#nav:not(:target) .close-btn {
  display: none;
}
#nav:target .close-btn {
  display: block;
}
@media (min-width: 46.75em) {
  #nav {
    position: relative;
    padding-top: 0;
    background-color: #333333;
  }
  #nav:not(:target) {
    height: auto;
  }
}

/*  If javascript is available, do fancier stuff on mobile
   ======================================================= */
@media (min-width: 0) and (max-width: 46.75em) {
  .js #nav {
    left: -70%;
    height: 100%;
    width: 70%;
    background: #333333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js #nav .close-btn {
    display: block;
  }
  .js #inner-wrap {
    left: 0;
  }
  .js-nav-open .js #inner-wrap {
    left: 70%;
  }

  .js-nav-open #inner-wrap {
    left: 70%;
  }
  .js-nav-open #nav {
    height: 100%;
    width: 70%;
    left: -70%;
    background: #333333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-nav-open #nav .close-btn {
    display: block;
  }
  .js-nav-open .nav-btn {
    display: none;
  }
}
/* end breakpoint */
/*  Main nav
   ======================================================= */
.main-nav {
  margin: 0;
  padding: 0;
  *zoom: 1;
  display: block;
  list-style: none;
}
.main-nav:before, .main-nav:after {
  display: table;
  content: "";
}
.main-nav:after {
  clear: both;
}
.main-nav li {
  position: relative;
  border-top: 1px solid gray;
}
.main-nav li:last-child {
  border-bottom: 1px solid gray;
}
.main-nav li a {
  display: block;
  padding: 0.75rem;
  background-color: #666666;
  color: #eeeeee;
}
.main-nav li a:hover {
  background-color: #333333;
  color: white;
}
@media (min-width: 46.75em) {
  .main-nav {
    text-align: center;
    white-space: nowrap;
  }
  .main-nav li {
    display: inline-block;
    border-top-width: 0;
    border-right: 1px solid gray;
  }
  .main-nav li:last-child {
    border-right-width: 0;
    border-bottom-width: 0;
  }
  .main-nav li a {
    background-color: transparent;
  }
  .main-nav li a:hover {
    background-color: transparent;
  }
}

/*  Close button
   ======================================================= */
.close-btn {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  display: block;
  width: 2.625em;
  height: 2.25em;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background: #333333 url("../images/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media (min-width: 46.75em) {
  .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

/*  Nav button
   ======================================================= */
.nav-btn {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  display: block;
  width: 2.625em;
  height: 2.25em;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background: #333333 url("../images/nav-icon.svg") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media (min-width: 46.75em) {
  .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

/* =======================================================
    Navigation
   ======================================================= */
.nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2;
}
.nav a {
  text-decoration: none;
}

.section-nav > ul {
  border: 1px solid #dddddd;
}
.section-nav li {
  border-top: 1px solid #dddddd;
}
.section-nav li:first-child {
  border-top-width: 0;
}
.section-nav a {
  position: relative;
  display: block;
  padding: 0.75rem;
  background-color: #f9f9f9;
  color: #333333;
}
.section-nav a:hover, .section-nav a:active {
  background-color: white;
}
.section-nav a:hover .pointer, .section-nav a:active .pointer {
  display: block;
}
.section-nav .pointer {
  position: absolute;
  right: .5em;
  top: 50%;
  margin-top: -.75em;
  color: #cccccc;
  display: none;
}
.sec-nav-item .section-nav #sec-nav-item a,
.section-nav .current > a,
.section-nav .current {
  background-color: #eeeeee;
  pointer-events: none;
}
.sec-nav-item .section-nav #sec-nav-item a .pointer,
.section-nav .current > a .pointer,
.section-nav .current .pointer {
  display: block;
}

.action-nav > ul li {
  display: inline-block;
}

.inline-nav .separator {
  display: none;
}
@media (min-width: 0) and (max-width: 46.75em) {
  .inline-nav > ul li:not(:first-child) {
    margin-top: 1em;
  }
}
@media (min-width: 46.75em) {
  .inline-nav > ul li {
    display: inline-block;
    margin-right: .25em;
  }
  .inline-nav > ul li:last-child .separator {
    display: none;
  }
  .inline-nav .separator {
    display: inline-block;
    margin-left: .5em;
    opacity: .5;
  }
}

/*
.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;

	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;
	}

	&.is-active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;

		li {
			float: left;
		}

		a {
			border: 0;
		}

	}
}
*/
/*  Nav list
   ======================================================= */
/*
.nav-list {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    border-right: $border-width $border-style $border-color;
    margin: 0;
    padding: 0 $space-half;
    float: left;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right-width: 0;
    }

    a {
      display: block;
    }
  }
}
*/
/*  Pagination
   ======================================================= */
/*

.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}
*/
/* =======================================================
    Sections
   ======================================================= */
.section {
  margin: 0 0 1.5rem;
}

.section-title {
  margin-bottom: 0.75rem;
}

/* =======================================================
    Tabs
   ======================================================= */
.tabs {
  overflow: hidden;
}
.tabs ul {
  display: table;
  width: 100%;
}
.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.tabs li:last-child {
  border-right: 0;
}
.tabs a {
  display: block;
  padding: 0.75rem;
  background: gray;
}
.tabs a:hover, .tabs a:focus {
  background: #dddddd;
}
.tabs a.active {
  background: #333333;
  color: white;
}

/* =======================================================
    Text areas
   ======================================================= */
.intro {
  font-size: 1.0625em;
  font-weight: 700;
}

.pullquote {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
}

.text a {
  text-decoration: underline;
}
.text table {
  margin-bottom: 1.5rem;
}

/* =======================================================
    Timeline
   ======================================================= */
.timeline {
  border-left: 4px solid #dddddd;
  margin-left: 0;
  padding-bottom: 3em;
  padding-left: 0;
  position: relative;
}
.timeline:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1.47em;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #dddddd;
  border: 5px solid #dddddd;
}

.timeline > li {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative;
  list-style: none;
}
.timeline > li a {
  display: block;
}
.timeline > li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.95em;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fff;
  border: 4px solid #dddddd;
}

.timeline .tl-content {
  font-weight: 700;
}

.timeline .stamp {
  font-size: 0.75em;
  color: gray;
}
