{% layout "l-hub" %}
{% block title %}Client Name Here Project Hub{% endblock %}
{% block bodyclass %} class="hub l-2col"{% endblock %}

{% block aside %}
<aside class="l-aside">
  <nav class="nav section-nav">
    <h4>Jump to:</h4>
    <ul>
      <li><a href="#Timeline">Timeline<b class="pointer" aria-hidden="true">&darr;</b></a></li>
      <li><a href="#Resources">Resources<b class="pointer" aria-hidden="true">&darr;</b></a></li>
    </ul>
  </nav>
</aside>
{% endblock %}

{% block main %}
<div class="l-main">

  <h2 id="Timeline">Project timeline</h2>

  <ol class="timeline">
    <li class="now">
      <div class="stamp">March 12th, 2014</div>
      <div class="tl-content">Kickoff Meeting</div>
      <a href="#">View agenda</a>
      <a href="#">View sitemap v1</a>
      <a href="#">View content inventory</a>
      <a href="#">View image inventory</a>
    </li>
    <li>
      <div class="stamp">February 18, 2014</div>
      <div class="tl-content">Proposal and agreement signed</div>
      <a href="#">View proposal</a>
    </li>
  </ol>

  <h2 id="Resources">Project resources</h2>

  <h3>Sitemap</h3>

  <ul class="slat-list">
    <li><a href="#">Version 1</a><span class="date">March 10, 2014</span></li>
    <!-- <li class="new"><a href="#">Link here</a><span class="date">March 10, 2014</span></li> -->
  </ul>

  <h3>Inventories</h3>

  <ul class="slat-list">
    <li><a href="#">Content inventory</a></li>
    <li><a href="#">Image inventory</a></li>
  </ul>

</div>
<!--/.l-main-->
{% endblock %}