{% layout "l-hub" %}
{% block title %}Client Name Here: Project Hub{% endblock %}
{% block bodyclass %} class="hub"{% endblock %}

{% block content %}

<div class="lc">

  <h1 id="Top">Client Name Here Project Hub</h1>

  <h2>Project timeline</h2>

  <ol class="timeline">
    <li>
      <div class="stamp">August 14th, 2013</div>
      <div class="tl-content">Kickoff Meeting</div>
      <a href="#">View notes</a>
    </li>
    <li>
      <div class="stamp">August 9th, 2013</div>
      <div class="tl-content">Sign contract</div>
      <a href="#">View contract</a>
    </li>
    <li>
      <div class="stamp">August 7th, 2013</div>
      <div class="tl-content">Initial meeting</div>
      <a href="#">Meeting Notes</a>
    </li>
    <li>
      <div class="stamp">July 13th, 2013</div>
      <div class="tl-content">Initial contact</div>
    </li>
  </ol>

  <h2>Sitemap</h2>

  <ul class="slat-list">
    <li class="new"><a href="#">Version 2</a><span class="date">February 28, 2014</span></li>
    <li class="new"><a href="#">Version 1</a><span class="date">February 15, 2014</span></li>
  </ul>

  <h2>Wireframes</h2>

  <ul class="slat-list">
    <li class="new"><a href="#">Version 1</a><span class="date">February 28, 2014</span></li>
  </ul>


</div><!-- end .lc -->
{% endblock %}